@model AspNetCoreBlogTutorial.Models.Person
@{
    ViewData["Title"] = "Index";

}

<h2>
    Home
</h2>



<p>Hello @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) from our View</p>
